.legend
  list-style none
  li
    position relative
    padding-left 16px
    span
      height 12px
      width 12px
      display block
      position absolute
      top 4px
      left 0
.ChartWidget
  canvas, ul 
    float left