form
  .form-group
    | How old are you: 
    br
    | 
    .text
       label
         input(type="number", name="age", required)
         | &nbsp; age (14-99)
     input(type="submit", class="btn btn-default", id="Sendbutton", name="Send", value="Send")
   