!!!
title Ausgabe
meta(charset="utf-8")
link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="main.css")

main.container
  h1 Ausgabe


footer.container
  hr
  p
    | &copy; 2013 HTML5-Padawane Inc.

script(src="ausgabe.js")