!!!
title Fragebogen
meta(charset="utf-8")
link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")

main.container
  h1 Fragebogen
  nav
    p
      a(href="#seite1") seite1
    p
      a(href="#seite2") seite2
    hr

footer.container
  hr
  p
    | &copy; 2013 HTML5-Padawane Inc.

script(src="fragebogen.js")