!!!
title Fragebogen
meta(charset="utf-8")
link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")

main.container
  h1 Fragebogen
  
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul(class="nav navbar-nav")
      li(class="dropdown")  
       //a(href="#", class="dropdown-toggle", data-toggle="dropdown") Navigation
       //ul(class="dropdown-menu")
      li
        a(href="#q1") Q1
      li
        a(href="#q3") Q3
      li
        a(href="#q5") Q5

             
footer.container
  hr
  p
    | &copy; 2013 HTML5-Padawane Inc.

script(src="fragebogen.js")