!!!
title Workshop-Vorlage
meta(charset="utf-8")
link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")

main.container
  h1 Fragebogen

footer.container
  hr
  p
    | &copy; 2013 HTML5-Padawane Inc.

script(src="fragebogen.js")