form
  .form-group
    | What is your gender: 
    br
    | are you...
    .checkbox
       label
         input(type="radio", name="gender", value="1")
         | &nbsp; male
    .checkbox
       label
         input(type="radio", name="gender", value="2")
         | &nbsp; female
    input(type="submit", class="btn btn-default", id="Sendbutton", name="Send", value="Send")
   