table.gridform {
   width:800px; 
   border-width:1px;
   border-style:solid;
   border-color:#AAA;
   padding:10px;
}

table.gridform tr:nth-child(odd) td{
    background-color:#FFF;
}

table.gridform tr:nth-child(even) td{
    background-color:#AAA;
}

table.gridform td{
   border-width:1px;
   border-style:solid;
   border-color:#AAA;
}

