.Q5Widget .videoPlayer{
  max-width : 380px;
}
.Q5Widget .greenlike, .Q5Widget .reddislike{
      float : left;
      padding : 10px;
      max-width : 340px;
      min-height: 100px;
      min-width : 340px;
      border-radius : 10px 10px 10px 10px;
}
.Q5Widget .greenlike{
   background-color : green;
}
.Q5Widget .reddislike{
   background-color : red;
}
.Q5Widget .rahmen{
  margin : 0 2px 2px 0;
  float : left;
}
.Q5Widget canvas{
  display : none;
}
