.videoPlayer{
  max-width : 380px;
}
.greenlike, .reddislike{
      float : left;
      padding : 10px;
      max-width : 340px;
      min-height: 100px;
      min-width : 340px;
      border-radius : 10px 10px 10px 10px;
}
.greenlike{
   background-color : green;
}
.reddislike{
   background-color : red;
}
.rahmen{
  margin : 0 2px 2px 0;
  float : left;
}
canvas{
  display : none;
}
