.introText
   | Bitte sehen Sie sich den Werbefilm an und bewerten Sie einzelne Szenen mit dem Like- und Dislike-Button
.videoPlayer
    video(controls='controls', autoplay='autoplay')
        source(src='Ad1_Kia_Sportage.webm')
        source(src='Ad1_Kia_Sportage.mp4')
        | Your browser does not support the
        code video
       .snapshotcontainer
.greenlike
.reddislike    
 canvas
 